<h1><%= @trainer.name%></h1>
<img src='<%= @trainer.img_url%>'>
<p>Level: <%= @trainer.level%></p>
<p>Battles Won: <%= @trainer.battles_won%></p>
<form action="/trainer/<%= @trainer.id%>/edit" method="get">
  <input id="submit" type="submit" value="Edit">
</form>
